html {
    margin: 0;
}
.header {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 75%;
    height: 1.7rem;
    border: 1px solid black;
    margin: 0 auto;
}
.item1 {
    display: grid;
    justify-self: center;
}
p {
    font-family: 'Pacifico', cursive;
    text-align: center;
}
.weetjevdd {
    display: grid;
    width: 100%;
    border: 1px solid black;
    width: 75%;
    height: 20rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
    background-image: url("../images/mario.jpg");
    background-position: center;
    background-blend-mode: lighten;
    opacity: 0.5;
}
.weetjevdd img {
    width: 100%;
    z-index: auto;
}
.sections {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 75%;
    height: 100%;
    margin: 0 auto;
}
.weetjeitem1 {
    border: 1px solid black;
    display: grid;
    justify-self: center;
    width: 95%;
}